* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #cccccc; }
  a:hover, a:focus {
    text-decoration: underline; }

body {
  background: #bc8b52 url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

input {
  margin: none;
  padding: none; }

ol, ul {
  margin: 0;
  padding: 0;
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h3 {
  font-weight: 100; }

#layout {
  margin: 0 auto; }

/* ------------------------------------
 * Table of Contents
 * -------------------------------------
 *   :: 1.a Building Blocks
 *   :: 1.b Responsive Queries */
/*///////////////////////////////////
 * :: 1.a Building Blocks */
.pure-img-responsive {
  max-width: 100%;
  height: auto; }

#layout {
  padding: 0;
  max-width: 80%; }

.content {
  padding: 2em 1em 0; }

/*//////////////////////////////////
 * :: 1.b Responsive Queries */
#layout {
  max-width: 80%; }

@media screen and (min-width: 80em) {
  #layout {
    max-width: 1140px; } }
/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px;
  /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: transparent;
  -webkit-border-radius: 100px; }
  ::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09); }

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. */
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px; }
  ::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.61);
    -webkit-border-radius: 100px; }

/* ------------------------------------
 * Table of Contents
 * -------------------------------------
 *   :: 1.a General
 *   :: 1.b Alerts 
 *   :: 1.c Utility Classes 
 *   :: 1.d Utility Functions */
/*///////////////////////////////////
 * :: 1.a General */
#text_logo {
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 48pt;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  letter-spacing: -5px; }
  #text_logo a {
    color: white;
    transition: opacity 0.2s; }
    #text_logo a:hover {
      opacity: 0.8;
      text-decoration: none; }

::-moz-selection {
  color: #fafafa;
  background: #ba8f57; }

::selection {
  color: #fafafa;
  background: #ba8f57; }

/*///////////////////////////////////
 * :: 1.b Alerts */
.alert, .error, .success {
  color: #222222;
  font-size: 12pt;
  background: #fafafa;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 8px 10px 5px 10px;
  margin: 10px 0px 10px 0px;
  height: 35px;
  width: 100%; }

.error {
  color: #fff4f2;
  font-variant: small-caps;
  background: #f24927;
  border: 1px solid #e8330c; }

.success {
  color: #e4ffeb;
  background: #31bf57;
  border: 1px solid #21a745;
  /*#217F3A */ }

/*///////////////////////////////////
 * :: 1.c Utility Classes */
.absolute_center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.blurred {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px); }

/*///////////////////////////////////
 * :: 1.4 Utility Functions */
body.auth_page {
  background: #6088d7;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  transition: background 0.2s ease; }
  body.auth_page.failure {
    background: #d76060; }
  body.auth_page.success_ {
    background: #31bf57;
    border: none; }

h1 {
  color: #3f2b00; }

#auth_container {
  height: 200px;
  width: 500px; }
  #auth_container form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 185px; }
  #auth_container input {
    border: none;
    color: #353535;
    font-size: 24pt;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    width: 75px; }
    #auth_container input:focus {
      outline: none; }
  #auth_container #text_logo {
    margin-top: 0; }
  #auth_container .divider {
    display: inline-block;
    color: white;
    font-size: 32pt;
    font-weight: 500;
    text-align: center;
    margin-right: 5px;
    width: 30px; }

#faq {
  margin-top: 100px; }

#success_icon {
  background: url("/static/img/check.png");
  background-size: cover;
  display: none;
  margin: 0 auto 0 auto;
  height: 50px;
  width: 50px;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  transition: height 1s ease; }

#text_logo {
  margin-top: 100px; }

.disposable_container.unread {
  margin-top: 100px; }

.disposable_content.unread {
  margin-top: 25px;
  margin-bottom: 20px;
  white-space: pre-wrap; }

.expired h1 {
  text-align: center; }

.faq_header {
  font-weight: 24pt; }

.faq_content h3 {
  font-size: 18pt;
  font-weight: 600;
  font-style: italic;
  margin-left: 15px; }
.faq_content p {
  font-size: 16pt;
  margin-left: 30px; }
