/* ------------------------------------
 * Table of Contents
 * -------------------------------------
 *   :: 1.a Building Blocks
 *   :: 1.b Responsive Queries */
/*///////////////////////////////////
 * :: 1.a Building Blocks */
.pure-img-responsive {
  max-width: 100%;
  height: auto; }

#layout {
  padding: 0;
  max-width: 80%; }

.content {
  padding: 2em 1em 0; }

/*//////////////////////////////////
 * :: 1.b Responsive Queries */
#layout {
  max-width: 80%; }

@media screen and (min-width: 80em) {
  #layout {
    max-width: 1140px; }

  .whisper_header {
    font-size: 32px; } }
