*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

a
  text-decoration: none
  color: rgb(61, 146, 201)
  &:hover, &:focus
    text-decoration: underline

h3
  font-weight: 100

html, body
  overflow-x: hidden