@import base
@import layout
@import shared

body
  &.auth_page
    background: #6088D7

    -webkit-transition: background 0.2s ease
    -moz-transition: background 0.2s ease
    transition: background 0.2s ease
    
    &.failure
      background: #d76060

    &.success_
      background: #31BF57
      border: none

h1
  color: #3F2B00

#auth_container
  height: 200px
  width: 500px

  form
    display: block

    margin-left: auto
    margin-right: auto

    width: 185px

  input
    border: none

    color: #353535
    font-size: 24pt

    border-radius: 3px

    padding: 0 10px 0 10px
    width: 75px

    &:focus
      outline: none

  #text_logo
    margin-top: 0

  .divider
    display: inline-block

    color: #fff
    font-size: 32pt
    font-weight: 500
    text-align: center

    margin-right: 5px

    width: 30px

#faq
  margin-top: 100px

#success_icon
  background: url('/static/img/check.png')
  background-size: cover
  display: none

  margin: 0 auto 0 auto

  height: 50px
  width: 50px

  -webkit-transition: height 1.0s ease
  -moz-transition: height 1.0s ease
  transition: height 1.0s ease

#text_logo
  margin-top: 100px

.disposable_container.unread
  margin-top: 100px

.disposable_content.unread
  margin-top: 25px
  margin-bottom: 20px

.expired
  h1
    text-align: center

.faq_header
  font-weight: 24pt

.faq_content
  h3
    font-size: 18pt
    font-weight: 600
    font-style: italic

    margin-left: 15px
  p
    font-size: 16pt
    
    margin-left: 30px