* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}
a:hover,
a:focus {
  text-decoration: underline;
}

h3 {
  font-weight: 100;
}

html, body {
  overflow-x: hidden;
}

/* ===================================================================== */

#background_cover {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  
  position: absolute;

  top: 0px;
  left: 0px;
  
  width: 100%;
  height: 100%;
  z-index: 1;
}

#email_content {
  background: #fefefe;
  border: none;
  border-bottom: 1px solid #eee;

  line-height: 1.5em;
  font-size: 30pt;

  margin-bottom: 25px;
  padding: 15px;
  width: 100%;

  -webkit-transition: background 1.0s, border-bottom 0.4s ease-in;
  -moz-transition: background 1.0s, border-bottom 0.4s ease-in;
  transition: background 1.0s, border-bottom 0.4s ease-in;
}

#email_content:focus {
  outline: none;
  background: #fafafa;

  border-bottom: 1px solid #ddd;
}

#faq {
  margin-top: 300px;
}

#paranoia {
  font-size: 20pt;
  top: 2px;

  position: relative;  
}

#success_modal { 
  color: #222;
  text-align: center;

  background: #fafafa;
  display: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);

  height: 200px;
  width: 400px;

  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  z-index: 2;
}

#success_modal_head {
  color: #fff;
  font-size: 24pt;
  font-style: italic;

  background: #4DBF6D;
  display: block;

  height: 5%;
  padding-top: 10px;
}

#success_modal_body {
  color: #747474;
  display: block;

  border-radius: 2px;

  height: 95%;
  padding: 30px 15px 5px 15px;
}

#success_modal_body .text {
  margin-bottom: 20px;
}

#success_modal_body .title {
  color: #555;
  font-size: 18pt;
  font-weight: bold;

  margin-bottom: 8px;
}

#success_modal_body .pure-button {
  border-radius: 2px;
}

#whisper {
  -webkit-transition: opacity 3.0s, -webkit-filter 1.4s ease-out;
  -moz-transition: opacity 3.0s, -webkit-filter 1.4s ease-out;
  transition: opacity 3.0s, -webkit-filter 1.4s ease-out;
}

#whisper input {
  border: none;

  color: #353535;
  font-style: italic;
  width: 400px;
}

#whisper input:focus {
  outline: none;
}

#whisper select {
  border: none;
}

#whisper: select:focus {
  outline: none;
}

#whisper::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
    
    color: #222;
    opacity: .6;
}
#whisper:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style: italic;
    
    color: #222;
    opacity: .6;
}
#whisper::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style: italic;
    
    color: #222;
    opacity: .6;
}
#whisper:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-style: italic;
    
    color: #222;
    opacity: .6;
}

.alert {
  color: #222;
  font-size: 12pt;

  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 3px;

  padding: 8px 10px 5px 10px;
  margin: 10px 0px 10px 0px;

  height: 35px;
  width: 100%;
}

.blurred {
  -webkit-filter: blur(2px) saturate(0.8);
  opacity: 0.6;
}

.button-success {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
}

.disposed_header {
  color: #222;
  font-size: 36pt;

  text-align: center;
  position: relative;
  top: 125px;
}

.error {
  color: #FFF4F2;
  font-variant: small-caps;

  background: #F24927;
  border: 2px solid #E8330C;
}

.faq_header {
  font-weight: 24pt;
}

.faq_content h3{
  font-size: 18pt;
  font-weight: 600;
  font-style: italic;
  margin-left: 15px;
}

.faq_content p {
  font-size: 16pt;
  margin-left: 30px;
}

.success {
  color: #E4FFEB;

  background: #31BF57;
  border: 2px solid #21A745);
  /*#217F3A*/
}


.whisper_header {
  font-weight: bold;
  font-size: 32px;

  margin-bottom: 10px;
}

/* ===================================================================== */

/* LAYOUT CSS */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

.sidebar {
  background: rgb(61, 79, 93);
  color: #fff;
}

.brand-title,
.brand-tagline {
  margin: 0;
}

.brand-title {
  font-style: italic;
}

.brand-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.nav-item a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 1em 0;
}

.post {
  padding-bottom: 2em;
}
.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}
  .post-category-design {
    background: #5aba59;
  }
  .post-category-pure {
    background: #4d85d1;
  }
  .post-category-yui {
    background: #8156a7;
  }
  .post-category-js {
    background: #df2d4f;
  }

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.footer {
  text-align: center;
  padding: 1em 0;
}
.footer a {
  color: #ccc;
  font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

@media (min-width: 48em) {
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
